.cream {
    background-color: rgb(255, 237, 222);
}

.cream-cream {
    background-color: rgb(255,245,236);
}

.purple {
    color: blueviolet;
}

.large {
    height: 100vh;
}

.align-middle {
    padding: 200px 100px 0px 100px;
    color: blueviolet;
}

.padding1 {
    padding: 200px 300px 20px;
}

.margin1 {
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 50px;
}
.margin2 {
    margin-top: 20px;
    margin-right: 400px;
    margin-bottom: 50px;
}

.custom-padding {
    padding: 0px 100px;
}

.custom-margin {
    margin: 0px 10px 0px 100px;
}

.small {
    font-size: small;
}

.large-image {
    width: 350px;
    height: auto;
}

.image-padding {
    margin-left: 250px;
    margin-top: 30px;
}
